/* ==========================================================================
    4.Header 
   ==========================================================================
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

    header .logo {
        border-bottom: var(--bord-op-solid);
        transition: background 0.4s ease;
    }

    header nav {
        display: none;
        width: 100%;
        z-index: 9;
        background: #fff;
    }


    header .logo > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .logo p a {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-family: var(--fam-logo);
        color: var(--color-point);
        height: 60px;
    }

    header .logo .nav_btn {
        font-size: 3rem;
        color: var(--color-white);
        text-shadow: 1px 1px 1px var(--color-gray400);
    }

        header .logo .nav_btn .bi-x {
            color: var(--color-black200);
            text-shadow: none;
        }

    header.active-click .logo {
        border-bottom: var(--bord-solid);
    }

    header.active-scroll {
        box-shadow: var(--box-shadow-100);
    }

        header.active-scroll .logo {
            background: var(--color-white-op70);
        }

            header.active-scroll .logo .nav_btn {
                color: var(--color-black200);
                text-shadow: none;
            }

    header.active-white .logo {
        background: #fff;
    }
