
/* ==========================================================================
    2.Interactive
   ==========================================================================
*/

.inner {
    max-width: 700px;
    margin: 0 auto;
}

@media (max-width:700px) {
    .inner {
        max-width: calc(100% - 40px);
    }
}


/* ==========================================================================
    4.Header 
   ==========================================================================
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

    header .logo {
        border-bottom: var(--bord-op-solid);
        transition: background 0.4s ease;
    }

    header nav {
        display: none;
        width: 100%;
        z-index: 9;
        background: #fff;
    }


    header .logo > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .logo p .logoButton {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-family: var(--fam-logo);
        color: var(--color-point);
        height: 60px;
    }

    header .logo .nav_btn {
        font-size: 3rem;
        color: var(--color-white);
        text-shadow: 1px 1px 1px var(--color-gray400);
    }

        header .logo .nav_btn .bi-x {
            color: var(--color-black200);
            text-shadow: none;
        }

    header.active-click .logo {
        border-bottom: var(--bord-solid);
    }

    header.active-scroll {
        box-shadow: var(--box-shadow-100);
    }

        header.active-scroll .logo {
            background: var(--color-white-op70);
        }

            header.active-scroll .logo .nav_btn {
                color: var(--color-black200);
                text-shadow: none;
            }

    header.active-white {
        background: #fff;
        box-shadow: var(--box-shadow-100);
    }

    header.active-white .logo {
        background: #fff;
    }



/* ---------------------------------------------
    네비게이션
   --------------------------------------------- */

.menu {
    width: 100%;
}

    .menu > ul {
        padding: 10px 0;
    }

        .menu > ul > li button {
            width: 100%;
            padding: 20px;
            color: var(--color-text);
            font-size: 1.4rem;
            font-weight: 600;
            text-align: left;
        }

        .menu > ul > li:hover {
            background-color: #f5f5f5;
        }


/* ==========================================================================
    5.Main
   ==========================================================================
*/

/* ---------------------------------------------
    공통부문
   --------------------------------------------- */

#wrap {
    overflow: hidden;
    color: var(--color-text);
    line-height: 1.4;
    font-size: 1.4rem;
}

.padding {
    padding: 60px 0;
}

h2, h3 {
    color: var(--color-title);
    font-family: var(--fam-title);
}

h3 {
    font-size: var(--font-title);
    padding: 20px 0 5px;
}

.title p {
    font-size: var(--font-subtitle);
    color: var(--color-subtitle);
    font-weight: 600;
}

.title {
    display: flex;
    margin-bottom: 40px;
}

.content {
    display: flex;
    margin-bottom: 40px;
}

/* ---------------------------------------------
    수직 스크롤바 스타일링
   --------------------------------------------- */

   @media (max-width:700px) {
    /* 스크롤바의 너비 */
    ::-webkit-scrollbar {
        width: 1px;
    }

    /* 스크롤바 트랙의 배경색 */
    /* ::-webkit-scrollbar-track {
        background-color: var(--color-op-point);
    } */

    /* 스크롤바 썸의 배경색 */
    ::-webkit-scrollbar-thumb {
        background-color: var(--color-op-point);
        border-radius: 10px;
        border: .1px solid var(--color-blue-op20);
    }

    /* 수평 스크롤바 스타일링 */
    /* 스크롤바의 높이 */
    ::-webkit-scrollbar-horizontal {
        height: 1px;
    }

    /* 수평 스크롤바 썸의 배경색 */
    /* ::-webkit-scrollbar-thumb:horizontal {
        background-color: var(--color-op-point);
    } */
}