
/* ==========================================================================
    2.Interactive
   ==========================================================================
*/

.inner-sub {
    max-width: 500px;
    margin: 0 auto;
}

    @media (max-width:500px) {
        .inner-sub {
            max-width: calc(100% - 40px);
        }
    }


/* ==========================================================================
    5. Sub
   ==========================================================================
*/

/* ---------------------------------------------
    공통부문
   ---------------------------------------------*/

#wrap {
    color: var(--color-text);
    line-height: 1.4;
    font-size: 1.4rem; 
}

h2, h3 {
    color: var(--color-title);
    font-family: var(--fam-title);
}

h3 {
    font-size: var(--font-title);
    padding: 10px 0;
}

section {
    display: flex;
    align-items: center;
}


/* ---------------------------------------------
    섹션 : 서브페이지
   ---------------------------------------------*/

#section00 .logo a {
    font-weight: 900;
    font-family: var(--fam-logo);
    color: var(--color-point);
    font-size: var(--font-title);
    margin-bottom: 20px;
}

/* #section00 .style0 {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#section00 .style1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#section00 .title {
    display: block;
    text-align: center;
    padding: 20px 0;
}

#section00 h1 {
    font-size: var(--font-large);
    font-weight: 500;
}

#section00 .exhibition {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 30px;
}

#section00 .title p {
    font-size: var(--font-subtitle);
    color: var(--color-subtitle);
    font-weight: 600;
}

#section00 .input_text {
    margin: 20px 0;
}

#section00 input[type="text"] {
    touch-action: manipulation;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color-gray200);
    margin-bottom: 10px;
}

#section00 input[type="checkbox"] {
    scale: 1.1;
    margin: 0 5px;
}

    .active-popup {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;
      }
      
    .active-popup.open {
        max-height: 500px; /* 원하는 높이로 설정 */
        opacity: 1;
    }

  
#section00 .agree {
    padding: 0 20px;
}

#section00 .agree p {
    font-size: var(--font-small);
    color: var(--color-black600);
    font-weight: 300;
    text-align: left;
    padding-bottom: 5px;
}

#section00 .agree h3 {
    color: var(--color-black600);
}

#section00 .agree h3 span {
    color: var(--color-point);
    cursor: pointer;
    margin-left: 5px;
    font-size: var(--font-small);
    text-decoration: underline;
}

#section00 .agree i {
    transform: rotate(0);
    padding: 5px;
    cursor: pointer;
    color: var(--color-point);
}

#section00 .btn {
    margin-top: 20px;
}

#section00 .btn .submit_btn {
    display: inline-block;
    width: 80%;
    padding: 15px 0;
    background-color: var(--color-op-point);
    border: var(--bord-op-solid);
    color: var(--color-point);
    font-weight: 600;
    font-size: var(--font-button);
    border-radius: var(--bord-radius-all);
    text-align: center;
    margin-bottom: 10px;
}

#section00 .btn .submit_btn:first-child {
    background-color: var(--color-point);
    color: var(--color-white);
}

    @media (max-width:420px) {
        #section00 {
            padding: 40px 0;
        }

        #section00 .style0 {
            align-items: baseline;
        }

        #section00 p {
            padding-bottom: 15px;
        }

        #section00 h1 {
            padding-bottom: 5px;
        }

        #section00 .title p {
            font-size: var(--font-medium);
        }

        #section00 input[type="text"] {
            width: 100%;
        }

        #section00 .btn {
            margin-bottom: 20px;
        }

        #section00 .btn .submit_btn {
            width: 100%;
        }

        #section00 .agree h3 {
            font-size: var(--font-semi-small);
        }

        #section00 .agree p {
            font-size: var(--font-tiny);
        }
    }


/* ---------------------------------------------
    fail
   ---------------------------------------------*/

    .result {
        padding: 20px 0;
    }

    .result p {
        margin: 10px 0;
    }